html, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background-color: darkkhaki;

}

.wrap {
    min-height: 100%;
    min-width: 100%

}

.main-content {
    overflow:hidden;
    padding-bottom:50px;
    margin: 0 auto;
    width: 800px;
    height: auto;
    min-height: 800px;
    background-color: white;
    border-color: #000000;
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-top-width: 1px;

}

.footer {
    clear:both;
    width: 800px;
    height:60px;
    margin-top:-80px;
    margin: 0 auto;
    position: relative;
    background-color: darkolivegreen;
    border-color: #000000;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-radius: 0px 0px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 0px 0px 10px 10px;

}

.footer a:link {text-decoration:none;color:white;}
.footer a:visited {text-decoration:none;color:white;}
.footer a:hover {text-decoration:none;color:red;}
.footer a:active {text-decoration:none;color:white;}

.header {
    background-color: darkolivegreen;
    border-radius: 10px 10px 0px 0px; -moz-border-radius: 10px 10px 0px 0px; -webkit-border-radius: 10px 10px 0px 0px;
    height: 85px;
    padding-left: 5px;
    width: 795px;
    margin:0 auto;
    margin-top:2px;
    border-color: #000000;
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    position:relative;
    }

.header a:link {text-decoration:none;color:white;}
.header a:visited {text-decoration:none;color:white;}
.header a:hover {text-decoration:none;color:red;}
.header a:active {text-decoration:none;color:white;}

.logo a:link {text-decoration:none;color:transparent;;}
.logo a:visited {text-decoration:none;color:transparent;;}
.logo a:hover {text-decoration:none;color:transparent;;}
.logo a:active {text-decoration:none;color:transparent;;}

.chrome-optimized{
    color:white;
    font-family:"helvetica",sans-serif;
    font-size:0.8em;
    position: absolute;
    text-align: left;
    bottom: 10px;
    left:5px;

}

.footer-nav{
    color:black;
    font-family:"helvetica",sans-serif;
    font-size:0.9em;
    text-align: center;
    background-color:darkkhaki;
    width: 800px;
    margin:0 auto;
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: black;

}

.footer-nav a:link {text-decoration:none;color:black;}
.footer-nav a:visited {text-decoration:none;color:black;}
.footer-nav a:hover {text-decoration:none;color:red;}
.footer-nav a:active {text-decoration:none;color:black;}

.copyright {
    color:white;
    font-family:"helvetica",sans-serif;
    font-size:0.8em;
    position: absolute;
    text-align: right;
    bottom: 0px;
    right:5px;

}

.link-container {position:absolute; right: 20px; top: 10px;color:white;
    background-color: black; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;
    padding: .5em; width:170px; height: 115px;font-size:1em; border: #000000; border-width: 1px; border-style: solid;
    font-family:"helvetica",sans-serif;
}

.text-container {
    position:absolute; left: 20px; top: 10px;color:black;width:500px;height:115px;
}

.button1{    font-size:1em;
    font-family:"helvetica",sans-serif;
    background-color:#d3d3d3;
    border:1px solid;
    border-radius: 5px 5px 5px 5px;
}
.button1:hover {
    background-color:#a9a9a9;
}

.text {
    font-family:"helvetica",sans-serif;
    font-size:1em;
}

.welcome-text {
    font-family:"helvetica",sans-serif;
    font-size:1em;
}

.login_form{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width:550px;
    background-color:white;
    border-style:solid;
    border-width:thin;
    border-color:black;
    border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;
    font-family:"helvetica",sans-serif;
    color: black;
}


.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

.content a:link {text-decoration:none;color:blue;}
.content a:visited {text-decoration:none;color:blue;}
.content a:hover {text-decoration:none;color:red;}
.content a:active {text-decoration:none;color:blue;}

.form {
    margin-left: auto;
    margin-right: auto;
    width:550px;
    padding:5px;
    background-color:#ffffff;
    border-style:solid;
    border-width:thin;
    border-color:black;
    border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;
    font-family:"helvetica",sans-serif;
    color: black;
}

.logout {
    font-family:"helvetica",sans-serif;
    font-size:1em;
    font-weight: bold;
    position:absolute;
    width:395px;
    left: 375px;
    top: 35px;

}

.logo {
    position:absolute;
    width:395px;
    text-align:left;

}

.sub-nav {
    height: 40px;
    width: 100%;
    position:relative;
    background-color: black;
    color:white;
    font-size:1em;
    font-family:"helvetica",sans-serif;
    white-space:pre;
    text-align: center;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.sub-nav a:link {text-decoration:none;color:white;}
.sub-nav a:visited {text-decoration:none;color:white;}
.sub-nav a:hover {text-decoration:none;color:red;}
.sub-nav a:active {text-decoration:none;color:white;}

.username {
    position:absolute;
    left:5px;
    top:15px;

    text-align: left;

    font-family:"helvetica",sans-serif;
    font-size:.85em;
}

.flashMsg {
    position:absolute;
    right: 5px;
    top:0px;
    text-align: right;
    color: red;
    font-family:"helvetica",sans-serif;
    font-size:.95em;
}

.contest_back_button {
    text-align: right;
    position:relative;
    top:35px;
    right:50px;
    font-family:"helvetica",sans-serif;
}

.settings_back_button {
    text-align: right;
    position:relative;
    top:48px;
    right:175px;
    font-family:"helvetica",sans-serif;
}

.ammo_heading {
    text-align: center;
    font-family:"helvetica",sans-serif;
    font-size:1em;
    font-weight: bold;
    margin-left:auto;
    margin-right:auto;
    width:550px;



}


.mobile_container {position:absolute; right: 20px; top: 180px;color:black;
    background-color: #d3d3d3; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;
    padding: .5em; width:170px; height: 115px;font-size:1em; border: #000000; border-width: 1px; border-style: solid;
    font-family:"helvetica",sans-serif";
}

.ammo_container {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;
    margin:0 auto;
    width:95%;

}

#content {
    padding: 5px;
    overflow:hidden;
    font-family:"helvetica",sans-serif;
    font-size:.9em;
    width: 750px;
    text-align: center;

}
.col {

    float:left;
    width:19%;
    margin-right: 1%;

}

.col-5 {margin-right:0;}

.four_col {

    float:left;
    width:24%;
    margin-right: 1%;

}

.four_col-4 {margin-right:0;}

.two_col {
    float:left;
    width:45%;
    margin-right: 4%;

}

.two_col-2 {

    margin-right:0;

}

.contest_col {
    float:left;
    width:60%;
    margin-right: 5%;
    margin-left:10px;

}

.contest_col-2 {

    margin-right:10px;

}

.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

.error {
    font-family:"helvetica",sans-serif;
    color:red;
    text-align: left;
    padding-left:10px;
    font-size:.75em;
    font-weight: bold;
}

.content{
    font-family:"helvetica",sans-serif;
}

.profile{
    margin:0 auto;
    width: 600px;
    font-family:"helvetica",sans-serif;
}

.map_window{
    margin:0 auto;
    width:600px;
}

.profile_back{
    text-align: right;
    position:relative;
    top:-40px;
    right:50px;
    font-family:"helvetica",sans-serif;
}